/* ---- reset ---- */
font{
  position:absolute;
  top:35%;
  left:35%;
  color:#000000;
  font-size: 500%;
  visibility:visible;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
 
}

body {
  margin: 0;
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  z-index:-1;
  background-color: #e5e5e5;
  background-image: url("");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top:120px;
  margin-bottom:120px;
  width: 60%;
  height: 400px;
}

.hidden {
  display: none;
}
